/*-------Featured Section--------*/

#featuredPost {
	width: 100%;
	height: max-content;
	display: flex;
	justify-content: center;
	margin: 30px 0px;
}

#featuredPost .max-width {
	display: grid;
	grid-template-columns: 0.9fr 0.7fr;
	column-gap: 30px;
	width: 70%;
}

#featuredPost .left {
	position: relative;
	color: #ffffff;
	background: linear-gradient(
		180deg,
		rgba(0, 0, 0, 0) 0%,
		rgba(0, 0, 0, 0.8743872549019608) 100%
	);
	overflow: hidden;
	border-radius: 2rem;
}
#featuredPost .left .post-info {
	display: flex;
	justify-content: flex-end;
	flex-direction: column;
	width: 100%;
	height: 100%;
	gap: 15px;
	padding: 20px;
}
#featuredPost .left .post-info img {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	object-fit: cover;
	border: 2px solid #d5ac4e;
}
#featuredPost .left .post-thumbnail {
	position: absolute;
	object-fit: cover;
	width: 100%;
	height: 100%;
	z-index: -999;
	transition: all 0.3s ease-in-out;
}
#featuredPost .left:hover .post-thumbnail {
	transform: scale(1.1);
}
#featuredPost .post-thumbnail {
	width: 100%;
	object-fit: cover;
	aspect-ratio: 16/9;
	border-radius: calc(2.5rem - 20px);
}
#featuredPost .left .author-info {
	position: absolute;
	top: 30px;
	right: 30px;
	gap: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #eec584;
	padding: 5px 10px;
	border-radius: 2rem;
}

#featuredPost .left .author-info p {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 5px;
	font-size: 0.8rem;
	color: #000000;
}

#featuredPost .top-posts {
	display: grid;
	grid-template-columns: 0.65fr 1fr;
	column-gap: 20px;
	height: min-content;
	position: relative;
	padding: 10px 0;
	border-radius: 1rem;
}
#featuredPost .top-posts h1 {
	font-size: 1.05rem;
}
#featuredPost .top-posts .category {
	width: max-content;
	font-size: 0.75rem;
}

#featuredPost .right img {
	border-radius: calc(1rem - 10px);
	height: 100%;
	width: 100%;
	object-fit: cover;
}
#featuredPost .right {
	display: grid;
	grid-template-rows: repeat(auto-fit, minmax(min-content, max-content));
	place-content: space-between;
}

#featuredPost .right .post-info {
	display: flex;
	justify-content: space-evenly;
	flex-direction: column;
	height: 100%;
}
#featuredPost .right .post-info .author-info {
	font-size: 0.9rem;
}

#featuredPost .section-heading {
	display: flex;
	font-size: 1.4rem;
	margin-bottom: 10px;
}
#featuredPost .category-featured {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 10px;
}
#featuredPost .left .post-title {
	color: #ffffff;
}
#featuredPost .left .category {
	background: transparent;
	color: #eec584;
	font-weight: bolder;
}

/*-------Welcome--------*/

#welcome {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 55px 0;
	position: relative;
}
#welcome .max-width {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 70%;
	margin: 15px;
	background: linear-gradient(
			5deg,
			rgba(0, 0, 0, 0.6054796918767507) 20%,
			rgba(0, 0, 0, 0.7259278711484594) 100%
		),
		url(../images/welcome.jpg) no-repeat center center/cover;
	color: #ffffff;
	padding: 50px;
	height: 30vh;
	gap: 30px;
	border-radius: 3rem;
}
.search-bar {
	width: 30%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #ffffff;
	padding-left: 5px;
	border-radius: 1.5rem;
	position: absolute;
	bottom: 0;
	box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.3);
}

.search-bar input {
	width: 100%;
	height: 100%;
	border: none;
	padding: 5px 15px;
	background: transparent;
	border-radius: 1rem;
	outline: none;
	font-size: 1rem;
}
#searchBtn {
	background-color: #d5ac4e;
	border: none;
	cursor: pointer;
	border-top-right-radius: 1.5rem;
	border-bottom-right-radius: 1.5rem;
	width: 15%;
	height: 100%;
	padding: 12px;
}
#welcome h1 {
	font-size: 2.5rem;
}

#welcome p {
	font-size: 1.2rem;
}

/*-------Author Notice--------*/

#authorNotice {
	margin: 30px 0px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 40vh;
}
#authorNotice .max-width {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 70%;
	color: #ffffff;
	gap: 30px;
	height: 100%;
	text-align: center;
	background: linear-gradient(
			180deg,
			rgba(0, 0, 0, 0.7) 0%,
			rgba(0, 0, 0, 0.7) 100%
		),
		url(../images/banner.jpg) no-repeat center center/cover;
	padding: 20px;
	border-radius: 3rem;
}

#authorNotice h1 {
	font-size: 2rem;
}

#authorNotice p {
	font-size: 1.2rem;
	padding: 0 50px;
}

#authorNotice a {
	background-color: #d5ac4e;
	border: none;
	cursor: pointer;
	border-radius: 25px;
	width: 10%;
	padding: 5px;
	color: #000000;
}

/*-------Recent Post--------*/

#recentPosts {
	width: 100%;
	height: max-content;
	display: flex;
	justify-content: center;
	margin: 30px 0px;
}

#recentPosts .max-width {
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 70%;
	gap: 25px;
	height: max-content;
}

#recentPosts .max-width .posts {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, max-content));
	column-gap: 70px;
	row-gap: 50px;
	align-items: center;
	width: 100%;
	height: max-content;
}

/*---------Post Card---------*/
.post-card {
	display: grid;
	grid-template-rows: repeat(auto-fit, minmax(min-content, max-content));
	place-content: space-between;
	min-height: 400px;
}
.post-card img {
	width: 100%;
	object-fit: cover;
	aspect-ratio: 1.66/1;
	border-radius: 1rem;
	padding: 0;
}
.post-card h1 {
	font-size: 1.1rem;
}
.post-card .category {
	font-size: 0.8rem;
	justify-content: flex-start;
}
.post-card .author-name {
	font-size: 0.9rem;
}
.post-card .post-info {
	display: flex;
	justify-content: space-between;
	align-items: self-start;
	flex-direction: column;
	gap: 20px;
	padding: 15px;
}

/*--------------Posts and Authors-------------*/

#postsAuthors {
	width: 100%;
	height: max-content;
	display: flex;
	justify-content: center;
	margin: 30px 0px;
}

#postsAuthors .max-width {
	display: flex;
	align-items: start;
	justify-content: space-between;
	width: 70%;
	gap: 120px;
	height: max-content;
}

#postsAuthors .left {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
	width: 95%;
	height: max-content;
}
#postsAuthors .left .category-list {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: wrap;
	gap: 15px;
	width: 100%;
	height: 100%;
	padding: 10px;
}
#postsAuthors .category {
	font-size: 0.8rem;
	transition: all 0.3s ease-in-out;
}

.post-list img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	aspect-ratio: 16/9;
	border-radius: 1rem;
	padding: 0;
}
#postsAuthors .posts {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 30px;
	width: 100%;
	height: 100%;
}

#postsAuthors .post-list .post-info {
	padding: 15px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 20px;
}
.post-list {
	display: grid;
	grid-template-columns: 0.7fr 1fr;
	column-gap: 20px;
	width: 100%;
	height: 100%;
}
.post-list .post-title {
	font-size: 1.2rem;
}
.post-list .post-content {
	font-size: 0.95rem;
}
#postsAuthors .right {
	width: 30%;
	height: max-content;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 50px;
	margin-top: 120px;
}
#postsAuthors {
	.right .author-card {
		display: flex;
		justify-content: space-around;
		align-items: center;
		flex-direction: column;
		gap: 30px;
		text-align: center;
		padding: 20px;
		border-radius: 1rem;
		box-shadow: 0px 0px 15px 2px var(--rgba-text-color);
		position: relative;
		overflow: hidden;
		width: 100%;
	}
	.right img {
		width: 100px;
		height: 100px;
		object-fit: cover;
		border-radius: 50%;
		box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
	}
	.author-name {
		font-size: 1.2rem;
		font-weight: 600;
	}
	i {
		font-size: 1rem;
	}
	.author-details {
		display: flex;
		justify-content: space-around;
		align-items: center;
		gap: 10px;
		width: 100%;
		color: #000;
	}
	.author-detail {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 5px;
	}
	svg {
		position: absolute;
		top: 0;
		z-index: -1;
	}
	#wave {
		height: 135px; /* or any value you want */
	}
	.bottom {
		border: 2px solid var(--hover-bg-color);
		border-radius: 1rem;
		padding: 10px;
	}
}
#postsAuthors .right .bottom {
	.newsletter-subscription {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		gap: 20px;
		width: 100%;
	}
	h1 {
		font-size: 1.3rem;
	}
	p {
		font-size: 0.9rem;
	}
	img {
		width: 70%;
		height: 100%;
		object-fit: cover;
		border-radius: 0;
		box-shadow: none;
		padding: 0;
	}
	.input-field {
		border-bottom: none;
		border: 2px solid var(--hover-bg-color);
		border-radius: 1rem;
		padding: 5px 10px;
	}
	#subscribeBtn {
		width: 100%;
		font-size: 0.9rem;
		padding: 7px 20px;
	}
	form {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		gap: 20px;
	}
	input {
		width: 100%;
		border: none;
		outline: none;
		padding: 2px 10px;
	}
}

@media screen and (max-width: 768px) {
	#welcome .search-bar {
		width: 100%;
	}
	#welcome h1 {
		font-size: 1.8rem;
	}
	#welcome p {
		font-size: 1rem;
	}
	#welcome #searchBtn {
		width: 20%;
	}
	#welcome .max-width {
		width: 100%;
		margin: 0;
		border-radius: 0;
		text-align: center;
	}

	#authorNotice {
		height: max-content;
	}

	#authorNotice .max-width {
		width: 100%;
		text-align: center;
		border-radius: 0;
	}
	#authorNotice h1 {
		font-size: 1.5rem;
	}
	#authorNotice p {
		font-size: 1rem;
	}
	#authorNotice a {
		width: 40%;
	}
	#recentPosts {
		margin: 30px 0;
	}
	#recentPosts .max-width {
		margin: 0;
		width: 100%;
		padding: 20px;
		overflow: hidden;
	}
	#recentPosts .post-date {
		transform: translateY(-410px) translateX(-110px);
	}
	#recentPosts .posts {
		grid-template-columns: 1fr;
		gap: 30px;
	}
	#featuredPost .max-width {
		grid-template-rows: max-content 1fr;
		grid-template-columns: 1fr;
		column-gap: 0px;
		row-gap: 20px;
		place-content: space-between;
		margin: 0;
		width: 100%;
		height: max-content;
	}

	#featuredPost .left {
		width: 100%;
		height: max-content;
		border-radius: 0;
	}
	#featuredPost .left h1,
	#featuredPost .right h1 {
		font-size: 1.1rem;
	}
	#featuredPost .left .author-info p {
		font-size: 0.8rem !important;
		gap: 5px;
	}
	#featuredPost .left .author-info {
		place-content: space-around;
	}
	#featuredPost .left p {
		font-size: 0.9rem;
	}
	#featuredPost .profilepic {
		width: 30px !important;
		height: 30px !important;
		border: 1px solid #d5ac4e !important;
	}
	#featuredPost .right {
		padding: 20px;
		height: max-content;
		margin: 0;
	}
	#featuredPost .right .top-posts {
		grid-template-columns: 1fr;
		gap: 20px !important;
	}
	#featuredPost .right .category {
		position: absolute;
		top: 10px;
		left: 10px;
	}
	#featuredPost .right h1 {
		font-size: 1.1rem;
	}
	#featuredPost .right .post-info {
		gap: 15px;
	}
	#postsAuthors .max-width {
		flex-direction: column;
		padding: 20px;
		width: 100%;
		align-items: center;
	}
	#postsAuthors .left {
		width: 100%;
	}
	#postsAuthors .right {
		margin: 0;
		width: 100%;
	}
}
@media screen and (max-width: 1024px) {
	#featuredPost .max-width {
		width: 90%;
	}
	#welcome .max-width {
		width: 90%;
	}
	#authorNotice .max-width {
		width: 90%;
	}
	#recentPosts .max-width {
		width: 90%;
	}
	#postsAuthors .max-width {
		width: 90%;
	}
}
