:root {
	--header-bg-color: #ffffff;
	--text-color: #000;
	--rgba-text-color: rgba(0, 0, 0, 0.2);
	--body-bg-color: #fff;
	--main-theme-color: #c49323;
	--hover-bg-color: #e9e8e8;
}

.dark {
	--header-bg-color: #24272b;
	--text-color: #fff;
	--rgba-text-color: rgba(255, 255, 255, 0.2);
	--body-bg-color: #1d1d1d;
	--main-theme-color: #d5ac4e;
	--hover-bg-color: #575757;
}

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: Roboto;
	scroll-behavior: smooth;
	line-height: 1.5;
	/* outline: 1px dotted red; */
}
body {
	margin: 0;
	padding: 0;
	-webkit-tap-highlight-color: transparent;
	transition: all 0.3s ease;
	width: 100%;
	background-color: var(--body-bg-color);
	color: var(--text-color);
	caret-color: var(--text-color);
}
::-webkit-scrollbar {
	width: 10px;
	background: #727272;
}

::-webkit-scrollbar-thumb {
	background: rgb(185, 185, 185);
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
input[type="checkbox"] {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
.file-upload .file-upload-select {
	display: flex;
	align-items: center;
	justify-content: start;
	gap: 10px;
	width: 100%;
	height: 100%;
	border-radius: 5px;
	background-color: #dbdbdb;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
}
.file-upload .file-upload-select .file-select-button {
	border-radius: 5px;
}

.file-upload .file-upload-select input[type="file"] {
	display: none;
}
.file-upload .file-select-name {
	color: #808080;
	font-size: 0.9rem;
	overflow: hidden;
}

input[type="number"] {
	appearance: textfield !important;
}

.max-width {
	max-width: 100%;
	padding: 25px 0px;
}

#themeToggle {
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 999;
	background-color: var(--text-color);
	color: var(--body-bg-color);
	padding: 6px 10px;
	border-radius: 50%;
	font-size: 1.2rem;
	border: none;
	cursor: pointer;
	animation: fadeIn 3s ease infinite;
	width: 40px;
	height: 40px;
}

#scrollToTop {
	position: fixed;
	bottom: 70px;
	right: 20px;
	background-color: #d5ac4e;
	color: #000000;
	padding: 6px 10px;
	border-radius: 50%;
	font-size: 1.2rem;
	border: none;
	cursor: pointer;
	width: 40px;
	height: 40px;
	animation: appear 0.5s ease;
	display: none;
	z-index: 998;
}
.preloader {
	position: fixed;
	width: 100%;
	height: 100vh;
	background-color: var(--body-bg-color);
	z-index: 9999;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 20px;
	transition: all 0.3s ease-in-out;
}
.preloader i {
	font-size: 2rem;
	font-weight: bold;
	color: var(--main-theme-color);
	animation-duration: 0.7s;
}
.preloader .logo {
	width: 7rem;
	height: fit-content;
	object-fit: cover;
}

@keyframes appear {
	0% {
		bottom: 20px;
		right: 20px;
	}

	100% {
		bottom: 70px;
		right: 20px;
	}
}

@keyframes disappear {
	0% {
		bottom: 70px;
		right: 20px;
	}

	100% {
		bottom: 20px;
		right: 20px;
	}
}

@keyframes fadeIn {
	0% {
		box-shadow: 0px 0px 10px var(--text-color);
	}
	50% {
		box-shadow: 0px 0px 30px var(--text-color);
	}
	100% {
		box-shadow: 0px 0px 10px var(--text-color);
	}
}
@keyframes rotate {
	0% {
		transform: rotate(0deg);
		opacity: 0;
	}

	100% {
		transform: rotate(360deg);
		opacity: 1;
	}
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
	-webkit-text-fill-color: var(--text-color) !important;
	-webkit-box-shadow: 0 0 0px 1000px var(--body-bg-color) inset !important;
}

.links {
	list-style: none;
}

.links a {
	text-decoration: none;
	color: var(--text-color);
	font-size: 1rem;
	transition: all 0.3s ease-in-out;
	font-weight: 580;
}

a {
	text-decoration: none;
	color: var(--text-color);
	transition: all 0.3s ease-in-out;
	font-weight: 580;
}

.category {
	outline: none;
	border: none;
	cursor: pointer;
	font-size: 0.9rem;
	letter-spacing: 2px;
	background-color: #d5ac4e;
	padding: 1px 5px;
	border-radius: 0.4rem;
}
hr {
	border: none;
	height: 1px;
	background-color: #a8a8a8;
	width: 100%;
}
.section-heading {
	font-size: 1.4rem;
	height: max-content;
	display: flex;
	align-items: center;
	gap: 10px;
}
.primary-btn {
	background-color: var(--main-theme-color);
	border: none;
	cursor: pointer;
	text-decoration: none;
	padding: 5px 20px;
	border-radius: 40px;
	color: #000000;
	font-size: 1.1rem;
	outline: none;
	transition: all 0.3s ease-in-out;
}
.secondary-btn {
	border: 1.5px solid var(--text-color);
	background-color: transparent;
	color: var(--text-color);
	text-decoration: none;
	padding: 5px 20px;
	border-radius: 40px;
	font-size: 1.1rem;
	outline: none;
}
.tertairy-btn {
	background-color: transparent;
	color: #b59032;
	text-decoration: underline;
	outline: none;
	border: none;
	font-size: 0.95rem;
	cursor: pointer;
}

.section-heading::before {
	content: "";
	display: block;
	width: 4px;
	height: 17px;
	background-color: var(--main-theme-color);
	border-radius: 50px;
}
.section-heading-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
	width: 100%;
	height: max-content;
	gap: 5px;
}
.section-heading-wrapper a {
	font-size: 0.95rem;
}
.section-heading-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: max-content;
}
.tag-date {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 5px;
	font-size: 0.9rem;
}
.author-info {
	display: grid;
	grid-template-columns: 0fr 0.5fr 0.5fr 0.5fr;
	place-items: center;
	place-content: center;
}
.author-bio {
	font-size: 0.9rem;
	text-align: center;
	padding: 2px;
	width: 100%;
}
.profilepic {
	width: 35px;
	height: 35px;
	object-fit: cover;
	border-radius: 50%;
}
.bi-dot {
	font-size: 1.2rem;
}
#followBtn {
	cursor: pointer;
	padding: 7px 20px;
	border-radius: 30px;
	font-size: 0.9rem;
	transition: all 0.3s ease-in-out;
	width: 100%;
}
.not-followed {
	background-color: var(--main-theme-color);
	border: 1.5px solid var(--main-theme-color);
	color: #000000;
}
.followed {
	border: 1.5px solid var(--text-color) !important;
	background-color: transparent;
	color: var(--text-color);
}
.unfollow {
	background-color: transparent;
	border: 1.5px solid crimson !important;
	color: crimson;
	width: 100%;
}
.author-followers {
	font-size: 0.9rem;
}
.alert-box-container {
	position: fixed;
	top: 0;
	right: 0;
	width: 20%;
	height: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
	gap: 10px;
	z-index: 9999;
	padding: 20px 20px;
	pointer-events: none;
}
.alert-box {
	padding: 15px 25px;
	border-radius: 15px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
	transition: all 1s ease-in-out;
	font-size: 0.9rem;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 25px;
	overflow: hidden;
	border-bottom: 4px solid #ff5c5c;
	color: #000000;
	display: none;
	width: 100%;
}
.alert-box i {
	font-size: 1.8rem;
}
.error {
	background-color: #ffcdcd;
	border-bottom: 4px solid #ff5c5c;
}
.warning {
	background-color: #fff3ac;
	border-bottom: 4px solid #febe10;
}

.success {
	background-color: #d5f5d5;
	border-bottom: 4px solid #00b300;
}
.show-alert {
	display: flex;
	animation: alertShow 0.5s ease-in-out;
}

@keyframes alertShow {
	0% {
		transform: translateX(100%);
	}
	100% {
		transform: translateX(0);
	}
}

.post-content {
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
}
.post-title {
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
}
.post-title:hover {
	text-decoration: underline;
}
.read-more {
	font-size: 1rem;
}
.custom-select {
	width: 100%;
	height: 100%;
	background-color: #dbdbdb;
	border-radius: 5px;
	position: relative;
}
.custom-select::after {
	content: "\f0d7";
	font: var(--fa-font-solid);
	position: absolute;
	right: 10px;
	top: calc(50% - 8px);
	color: #000000;
	pointer-events: none;
	transition: all 0.3s ease-in-out;
}
.custom-options {
	position: absolute;
	background-color: #dbdbdb;
	width: 100%;
	border-radius: 5px !important;
	font-size: 0.9rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: start;
	gap: 5px;
	transition: all 0.3s ease-in-out;
	margin-top: 1%;
	max-height: 0;
	overflow: hidden;
}
.custom-options li {
	list-style: none;
	padding: 5px 10px;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
	width: 100%;
}
.custom-options li:hover {
	background-color: #bdbdbd;
}
.custom-select input {
	cursor: pointer;
}

.active-option {
	background-color: #d5ac4e;
}
.active-option:hover {
	background-color: #d5ac4e !important;
}
.show-options {
	max-height: max-content;
}

/* -----------Navbar----------------- */

#navigation {
	width: 100%;
	height: 130px;
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 10px;
	background-color: var(--header-bg-color);
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}
#navigation hr {
	width: 70% !important;
}

.top-nav {
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 100%;
	width: 70%;
	overflow: hidden;
}

.logo {
	margin-top: 10px;
	width: 270px;
	display: flex;
	align-items: center;
	height: 100%;
}

.logo img {
	width: 100%;
}
.logo-image-mobile {
	display: none;
	width: 100%;
}

.login-signup {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: max-content;
	gap: 20px;
}

#loginBtn,
#signupBtn {
	background-color: #d5ac4e;
	border: 1.5px solid #d5ac4e;
	cursor: pointer;
	text-decoration: none;
	padding: 3px 20px;
	border-radius: 40px;
	color: #000000;
	font-size: 1rem;
	outline: none;
}

#loginBtn {
	border: 1.5px solid var(--text-color);
	background-color: transparent;
	color: var(--text-color);
}

.bottom-nav {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 75%;
	height: 60%;
	gap: 5%;
	font-size: 1rem;
}

.bottom-nav li a::after {
	content: "";
	display: block;
	width: 100%;
	height: 3px;
	background-color: var(--main-theme-color);
	transition: all 0.3s ease-in-out;
	transform: scaleX(0) translateY(10px);
	border-radius: 100px;
}

.bottom-nav li a:hover::after {
	transform: scaleX(1) translateY(7px);
}

.bottom-nav li a.active::after {
	transform: translateY(7px) scaleX(0.5);
}

#navigation hr {
	width: 100%;
	height: 1px;
	background-color: #a8a8a8;
	border: none;
}

.social-links {
	display: flex;
	justify-content: space-between;
	width: 10%;
	align-items: center;
	gap: 20px;
}

.social-links li a {
	font-size: 1.2rem;
}

.user-control img {
	width: 35px;
	height: 35px;
	border-radius: 50%;
	object-fit: cover;
	padding: 2px;
	border: 2px solid var(--main-theme-color);
	cursor: pointer;
	transition: all 0.3s ease-in-out;
}

.user-control {
	display: flex;
	align-items: center;
	justify-content: space-around;
	gap: 15px;
}

.sub-menu {
	max-height: 0;
	position: absolute;
	top: 60px;
	right: inherit;
	background-color: var(--header-bg-color);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 5px;
	overflow: hidden;
	width: 200px;
	border-radius: 10px;
	transition: all 0.5s ease-in-out;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
	z-index: 999;
}

.extend {
	max-height: 100%;
}

.sub-menu a {
	text-decoration: none;
	font-size: 0.9rem;
	padding: 5px 20px;
	width: 100%;
	display: flex;
	align-items: center;
	gap: 10px;
}

.sub-menu a:hover {
	background-color: var(--hover-bg-color);
}
.sub-menu p {
	display: none;
}

#notificationBtn {
	background-color: transparent;
	border: none;
	cursor: pointer;
	font-size: 1.3rem;
	color: var(--text-color);
}
#notificationBtn::after {
	content: "9";
	display: none;
	justify-content: center;
	align-items: center;
	width: 20px;
	height: 20px;
	background-color: var(--main-theme-color);
	border-radius: 50%;
	position: absolute;
	top: 20px;
	margin-left: 10px;
	font-size: 0.8rem;
}
.hamburger-menu {
	display: none;
}
/*-------Login Form--------*/

#loginForm,
#signupForm {
	border: none;
	outline: none;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
	margin: auto;
	width: 55%;
	height: 65%;
	transition: all 0.3s ease-in-out;
	padding: 0;
	background-color: var(--body-bg-color);
	border-radius: 0.5rem;
}

@keyframes dialogShow {
	0% {
		transform: scale(0);
	}
	100% {
		transform: scale(1);
	}
}
.dialog-close {
	background-color: #00b300;
	animation: dialogClose 0.3s ease-in-out;
}

@keyframes dialogClose {
	0% {
		transform: scale(1);
		opacity: 0.6;
	}
	100% {
		transform: scale(0.5);
		opacity: 0;
	}
}

#loginForm::backdrop,
#signupForm::backdrop {
	background-color: rgba(0, 0, 0, 0.5);
	backdrop-filter: blur(2px);
}
.alert-box-dialog {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
	transition: all 0.3s ease-in-out;
	font-size: 0.9rem;
	color: #000000;
	background-color: #ffc5c5;
	padding: 10px 25px;
	border-left: 3px solid #ff5c5c;
	border-right: 3px solid #ff5c5c;
	visibility: hidden;
	opacity: 0;
	position: absolute;
	top: 10%;
	width: 70%;
}
/* Define the custom checkbox appearance */
.custom-checkbox-box {
	width: 17px; /* Set the size of the custom checkbox */
	height: 17px;
	background-color: #fff; /* Background color when unchecked */
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	font-family: "Font Awesome 5 Duotone";
	transition: all 0.3s ease-in-out;
	border: 1px solid #a8a8a8;
}

/* Style the custom checkbox when checked */
.custom-checkbox:checked + .custom-checkbox-box {
	background-color: var(--main-theme-color); /* Background color when checked */
}

/* Add a checkmark icon to the checked custom checkbox */
.custom-checkbox:checked + .custom-checkbox-box::before {
	content: "\f00c"; /* Unicode checkmark character */
	font-size: 0.8rem; /* Adjust the size of the checkmark */
	color: #000000; /* Color of the checkmark */
	font-weight: 700;
}
#loginForm .section-heading-wrapper,
#signupForm .section-heading-wrapper {
	justify-content: center;
	width: 70%;
}
#loginForm .right form,
#signupForm .right form {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 25px;
}

#loginForm .right input,
#signupForm .right input {
	width: 100%;
	padding: 5px 10px;
	border: none;
	outline: none;
	resize: none;
	height: 100%;
	background: transparent;
	font-size: 1rem;
	color: var(--text-color);
}
.input-field {
	width: 100%;
	border: none;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 10px;
	border-bottom: 2px solid var(--main-theme-color);
	position: relative;
}

#loginForm .password-show,
#signupForm .password-show {
	outline: none;
	border: none;
	background: transparent;
	font-size: 1rem;
	color: #bbbbbb;
}

.input-field .placeholder {
	position: absolute;
	vertical-align: middle;
	left: 5px;
	bottom: 3px;
	pointer-events: none;
	color: #808080;
	transition: all 0.5s ease-in-out;
}

.input-field input:focus + .placeholder,
.input-field input:not(:placeholder-shown) + .placeholder {
	transform: translateY(-30px);
	color: var(--main-theme-color);
	font-size: 0.9rem;
	font-weight: bold;
	letter-spacing: 0.1rem;
}

#loginForm {
	.max-width {
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 10px;
	}

	.right {
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		gap: 60px;
		color: var(--text-color);
		position: relative;
	}
	.left {
		width: 90%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: flex-start;
		color: #ffffff;
		background: url(../images/login.svg) no-repeat center center/cover;
	}
	#loginSubmit {
		width: 100%;
		border-radius: 5px;
		box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
	}
	.remember-recover {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		font-size: 0.95rem;
	}
	.remember-recover label {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: max-content;
		gap: 7px;
	}
	.remember-recover input[type="checkbox"] {
		display: none;
	}

	.login-form-group {
		width: 70%;
	}
	.input-field:first-child {
		margin-bottom: 1.5rem;
	}
}
@keyframes formShow {
	0% {
		opacity: 0;
		transform: translateX(10px);
	}
	100% {
		opacity: 1;
		transform: translateX(0px);
	}
}

@keyframes formHide {
	0% {
		opacity: 1;
		transform: scale(5);
	}
	100% {
		opacity: 0;
		display: none;
	}
}
#signupForm {
	.max-width {
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 10px;
		gap: 20px;
		overflow: hidden;
	}
	.left {
		width: 100%;
		height: 100%;
		background: url(../images/signup.svg) no-repeat center center/cover;
		display: flex;
		justify-content: center;
	}
	.right {
		width: 90%;
		height: 100%;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		flex-direction: column;
		gap: 10px;
		color: var(--text-color);
		position: relative;
	}
	.right form {
		width: 100%;
		height: 70%;
		gap: 20px;
		margin-bottom: 1.2rem;
	}
	.form-step {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 50px;
		position: relative;
		width: 80%;
	}
	.form-step .form-tab {
		border-radius: 50%;
		width: 30px !important;
		height: 30px !important;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 0%;
		cursor: pointer;
		background-color: var(--hover-bg-color);
		transition: all 0.7s ease-in-out;
	}
	.form-step::after {
		content: "";
		position: absolute;
		width: 100%;
		height: 5px;
		background-color: var(--hover-bg-color);
		z-index: -2;
	}
	.form-step::before {
		content: "";
		position: absolute;
		width: var(--before-width, 0%);
		height: 5px;
		background-color: #d5ac4e;
		z-index: -1;
		left: 0;
		transition: all 0.7s ease-in-out;
	}
	.form-step:first-child {
		margin-bottom: 2rem;
	}
	.form-group {
		display: none;
		width: 80%;
	}

	.active-form-tab {
		background-color: #d5ac4e !important;
		color: #000000;
	}
	.active-form {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 20px;
		animation: formShow 0.5s ease-in-out;
	}
	.active-form .input-field:first-child,
	.active-form .input-field:nth-child(2) {
		margin-bottom: 1.2rem;
	}
	.next-prev-button {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
	}
	.next-prev-button button {
		border-radius: 5px;
		font-size: 0.95rem;
		padding: 3px 25px;
	}

	.pic-role {
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		width: 100%;
		height: 100%;
	}
	.pic-role .left {
		flex-direction: column;
		justify-content: center !important;
		background: none;
		gap: 30px;
		width: 50%;
	}
	.pic-role .right {
		width: 102px;
		height: 102px;
		border: 1px solid black;
		border-radius: 50%;
		overflow: hidden;
	}
	.pic-role .right img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
	.pic-role .custom-select {
		height: max-content;
	}
	#sendOtp {
		width: 100%;
		text-align: end;
	}

	.alert-box-dialog {
		margin-bottom: 10px;
		position: static;
	}
}

#closeBtn {
	position: absolute;
	top: 20px;
	right: 30px;
	background-color: transparent;
	border: none;
	cursor: pointer;
	font-size: 1.3rem;
	outline: none;
	z-index: 999999;
}

/*----Footer----*/

footer {
	width: 100%;
	height: max-content;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
	background-color: var(--header-bg-color);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
footer .logo {
	width: 60%;
	height: 100%;
	overflow: hidden;
}

footer .logo img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.bottom-footer {
	display: flex;
	justify-content: center;
	align-items: center;
	color: #7e7d7d;
	padding: 8px 20px;
	font-size: 0.9rem;
	width: 70%;
}

.top-footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 70%;
	height: 100%;
	padding: 25px 20px;
}

.top-footer .left {
	display: grid;
	grid-template-rows: 0.3fr 0.2fr 0.2fr;
	place-content: center;
	place-items: center;
	row-gap: 20px;
}

.top-footer .right {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 20px;
	width: 15%;
}
.top-footer .social-links {
	width: 100%;
	justify-content: space-evenly;
}
#feedbackForm {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	gap: 10px;
	width: 100%;
}

#feedbackForm input,
#feedbackForm textarea {
	width: 100%;
	padding: 5px 10px;
	border: none;
	outline: none;
	border-radius: 5px;
	resize: none;
	background-color: #dbdbdb;
}

#feedbackForm button {
	width: 100%;
	padding: 5px 10px;
	border: none;
	outline: none;
	border-radius: 5px;
	background-color: #d5ac4e;
	color: #000000;
	cursor: pointer;
}

.top-footer .middle {
	display: flex;
	justify-content: space-between;
	gap: 20px;
	width: 25%;
	height: 100%;
}

.quick-links,
.terms-privacy {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 5px;
	height: 100%;
}

.quick-links a,
.terms-privacy a {
	text-decoration: none;
	font-size: 0.9rem;
}

.quick-links h3,
.terms-privacy h3 {
	font-size: 1rem;
}

.top-footer .middle h3 {
	margin-bottom: 5px;
}

@media screen and (max-width: 768px) {
	.category,
	.tag-date p {
		font-size: 0.8rem;
	}

	.section-heading {
		font-size: 1.3rem !important;
	}
	.section-heading-wrapper a {
		font-size: 0.8rem !important;
	}
	.post-card {
		width: 100%;
	}

	#navigation {
		padding: 0;
		margin: 0;
		height: max-content;
	}
	#navigation .bottom-nav {
		position: absolute;
		background-color: var(--header-bg-color);
		flex-direction: column;
		justify-content: flex-start;
		width: 100%;
		height: calc(100vh - 50px);
		transform: translateX(-100vw);
		top: 50px;
		gap: 20px;
		z-index: 99;
		transition: all 0.3s ease-in-out;
		overflow: hidden;
		position: fixed;
		padding-top: 40px;
	}
	.bottom-nav li {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	#navigation .bottom-nav li a {
		width: 100%;
		padding: 10px 20px;
		text-align: center;
	}
	.bottom-nav li a::after {
		display: none;
	}
	#navigation .nav-extend {
		transform: translateX(0);
	}

	#navigation hr {
		display: none;
	}
	.top-nav {
		width: 100%;
		height: max-content;
		padding: 0;
		margin: 0;
	}

	#navigation .logo-image {
		display: none;
	}
	#loginForm,
	#signupForm {
		width: 100%;
	}
	.user-control p {
		display: none;
	}
	.sub-menu p {
		display: block;
		font-size: 0.9rem;
	}
	.sub-menu a {
		font-size: 0.8rem;
	}
	.sub-menu {
		top: 50px;
		width: 130px;
		right: 15px;
	}

	.logo-image-mobile {
		display: block;
		width: 100%;
	}
	.logo {
		width: 50px;
		margin: 0;
	}
	#loginBtn {
		display: block;
		font-size: 0.8rem;
	}
	.hamburger-menu {
		display: flex;
		flex-direction: column;
		cursor: pointer;
		gap: 5px;
		padding: 5px 20px;
		margin-right: 15px;
	}
	.bar {
		width: 25px;
		height: 3px;
		background-color: var(--text-color);
		transition: all 0.3s ease;
		border-radius: 30px;
	}

	.hamburger-menu.active .bar:nth-child(1) {
		transform: translateY(8px) rotate(45deg);
	}

	.hamburger-menu.active .bar:nth-child(2) {
		opacity: 0;
	}

	.hamburger-menu.active .bar:nth-child(3) {
		transform: translateY(-8px) rotate(-45deg);
	}
	#signupBtn {
		display: none;
	}
	#navigation .social-links {
		display: none;
	}

	.top-footer {
		flex-direction: column;
		width: 100%;
		gap: 50px;
	}
	.top-footer .right {
		width: 100%;
		padding: 0 30px;
	}
	.top-footer .middle {
		width: 80%;
	}
	.top-footer .left {
		width: 100%;
		padding: 0 30px;
	}
	footer {
		padding: 0;
	}
	.bottom-footer {
		width: 100%;
	}
	footer .logo {
		width: 100%;
	}

	.post-list {
		grid-template-columns: 1fr;
		width: 100%;
	}
	.post-list img {
		border-top-right-radius: 2rem;
		border-bottom-left-radius: 0;
	}
	.post-list .post-date {
		display: none;
	}
	.post-list .post-info {
		align-items: center;
	}
	#loginForm .left,
	#signupForm .left {
		display: none;
	}
	#loginForm .right,
	#signupForm .right {
		width: 100%;
		height: 100%;
	}
	#loginForm,
	#signupForm {
		height: 100%;
	}
}
