* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/* outline: 1px dotted red; */
	font-family: Nunito Sans, sans-serif;
}
:root {
	--primary-color: #a4243b;
	--secondary-color: #24a48d;
	--tertiary-color: #243ba4;
	--dark-color: #2a2d34;
	--light-color: #f5f5f5;
}

::-webkit-scrollbar {
	width: 5px;
	background-color: #afafaf;
}

::-webkit-scrollbar-thumb {
	background-color: var(--primary-color);
	border-radius: 10px;
}
body {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(14vw, 1fr));
}
button {
	border: none;
	cursor: pointer;
}
.primary-btn {
	padding: 0.5rem 1rem;
	font-size: 1rem;
	display: flex;
	align-items: center;
	gap: 0.5rem;
	border-radius: 2rem;
	color: var(--light-color);
	background-color: var(--primary-color);
}
.secondary-btn {
	padding: 0.5rem 1rem;
	font-size: 1rem;
	display: flex;
	align-items: center;
	gap: 0.5rem;
	border-radius: 2rem;
	color: var(--light-color);
	background-color: var(--secondary-color);
}
.tertiary-btn {
	padding: 0.5rem 1rem;
	font-size: 1rem;
	display: flex;
	align-items: center;
	gap: 0.5rem;
	border-radius: 2rem;
	color: var(--dark-color);
}
.ql-code-block-container {
	background-color: #242424;
	padding: 0.2rem 0.5rem;
	border-radius: 0.5rem;
	color: var(--light-color);
}
.ql-code-block {
	font-family: "Courier New", Courier, monospace;
}
.ql-active {
	background-color: #a8a8a8;
	color: var(--primary-color);
}
.preloader {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	z-index: 1000;
	gap: 3rem;
	background-color: var(--light-color);
}
/* HTML: <div class="loader"></div> */
.loader {
	height: 4px;
	width: 130px;
	--c: no-repeat linear-gradient(var(--primary-color) 0 0);
	background: var(--c), var(--c), #dbdbdb;
	background-size: 60% 100%;
	animation: l16 3s infinite;
}
@keyframes l16 {
	0% {
		background-position: -150% 0, -150% 0;
	}
	66% {
		background-position: 250% 0, -150% 0;
	}
	100% {
		background-position: 250% 0, 250% 0;
	}
}

.preloader img {
	width: 50px;
}
main {
	margin: 0 0 0 11vw;
	height: 200vh;
	transition: all 0.2s ease-in-out;
}
header {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	align-items: start;
	height: 100%;
	width: 11dvw;
	overflow: hidden;
	position: fixed;
	padding: 0;
	z-index: 100;
	transition: all 0.2s ease-in-out;
	color: var(--dark-color);
	border-right: 1px solid #e0e0e0;
	cursor: pointer;
}

.logo-name {
	font-size: 0.9rem;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	gap: 1rem;
	letter-spacing: 3px;
	padding: 1rem 0.7rem;
	border-bottom: 1px solid #e0e0e0;
	height: 5dvh;
}
.logo-name img {
	width: 1.7rem;
	object-fit: contain;
}

.side-navigation {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2rem;
	width: 100%;
}

.side-nav {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	width: 100%;
	flex-wrap: nowrap;
	overflow: hidden;
}
.side-nav li {
	list-style: none;
	width: 100%;
	display: flex;
	align-items: center;
}

.side-nav li a {
	text-decoration: none;
	font-size: 0.8rem;
	letter-spacing: 2px;
	display: flex;
	align-items: center;
	gap: 1.5rem;
	padding: 0.8rem 1rem;
	width: 100%;
	position: relative;
	color: var(--dark-color);
	transition: all 0.2s ease-in-out;
}

.side-nav li a:hover {
	background-color: #e6e6e6;
	color: var(--tertiary-color);
}

.side-nav li a i {
	font-size: 1rem;
	margin: auto;
}
.side-nav li a p {
	width: 100%;
	text-align: start;
}

.side-nav li a.active {
	background-color: #cacaca;
	color: var(--tertiary-color);
	width: 100%;
	font-weight: 600;
}
.side-nav li a.active::after {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 5px;
	background-color: var(--primary-color);
}

.top-nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 1rem;
	gap: 1rem;
	width: 100%;
	height: 5dvh;
	color: var(--dark-color);
	position: sticky;
	top: 0;
	background-color: var(--light-color);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	z-index: 100;

	.user-profile {
		display: flex;
		align-items: center;
		gap: 1rem;

		.user-name-role {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
		}
		.user-role {
			font-size: 0.65rem;
			color: #616161;
			letter-spacing: 1.5px;
		}
		.user-name {
			font-size: 1rem;
			font-weight: 600;
		}
	}
	.user-profile img {
		width: 2rem;
		border-radius: 50%;
	}
}
#collapseSidenav {
	color: var(--dark-color);
	padding: 0.5rem;
	background-color: transparent;
}
.main-content {
	padding: 2rem;
	width: 100%;
	height: 100%;
	position: relative;
}
#createPost {
	padding: 0.3rem 1rem;
	font-size: 1rem;
	display: flex;
	align-items: center;
	gap: 0.5rem;
	border-radius: 2rem;
	color: var(--light-color);
}
.search-bar {
	height: max-content;
	overflow: hidden;
	border-radius: 2rem;
	width: 50%;
	display: flex;
	align-items: center;
	gap: 1rem;
	padding: 0 1rem;
}
.search-bar input {
	border: none;
	outline: none;
	padding: 0.5rem 1rem;
	width: 100%;
	background-color: transparent;
	color: var(--primary-color);
	font-size: 1rem;
}
.search-bar input::placeholder {
	color: #a0a0a0;
}
.search-bar i {
	color: #a0a0a0;
}
.collapse-name {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	width: 15%;
}
/* #logoutBtn {
	padding: 0.2rem 1rem;
	color: var(--light-color);
	font-size: 1rem;
	background-color: var(--tertiary-color);
	border-radius: 2rem;
} */
#editor {
	height: max-content;
	font-size: large;
	border: 1px solid #e0e0e0;
}

#toolbar {
	position: sticky;
	top: 7dvh;
	margin: 1rem auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 1rem;
	padding: 0.5rem 1rem;
	background-color: var(--light-color);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	width: max-content;
	border-radius: 2rem;
	color: #cacaca;
	z-index: 100;
}
#toolbar button {
	padding: 0.5rem 1rem;
	font-size: 0.9rem;
	gap: 0.5rem;
	background: transparent;
}
#toolbar button:hover {
	color: var(--primary-color);
}
/* Popup Box */

.popup-box {
	position: fixed;
	top: 0;
	left: 0;
	margin: auto;
	border: none;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	border-radius: 0.5rem;
	width: 30%;
	height: 30%;
	opacity: 0;
}
.popup-box::backdrop {
	background-color: rgba(0, 0, 0, 0.5);
}
.popup-box .popup {
	position: relative;
	padding: 2rem;
	border-radius: 10px;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}
.popup-header {
	display: flex;
	align-items: center;
	gap: 1rem;
	flex-direction: column;
}
.fa-brake-warning {
	font-size: 3rem;
	color: var(--primary-color);
}
#closePopup {
	position: absolute;
	top: 0.2rem;
	right: 0.5rem;
	padding: 0.8rem;
	color: var(--dark-color);
	border: none;
	outline: none;
	border-radius: 50%;
	cursor: pointer;
	background: transparent;
	font-size: 1.3rem;
}
.popup-footer {
	display: flex;
	justify-content: flex-end;
	gap: 1rem;
	width: 100%;
}
