* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/* outline: 1px dotted red; */
	font-family: Nunito Sans, sans-serif;
}
:root {
	--primary-color: #a4243b;
	--secondary-color: #24a48d;
	--tertiary-color: #243ba4;
	--dark-color: #2a2d34;
	--light-color: #f5f5f5;
}

::-webkit-scrollbar {
	width: 5px;
	background-color: #afafaf;
}

::-webkit-scrollbar-thumb {
	background-color: var(--primary-color);
	border-radius: 10px;
}
body {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(14vw, 1fr));
}
button {
	border: none;
	outline: none;
	cursor: pointer;
}
.primary-btn {
	padding: 0.5rem 1rem;
	font-size: 1rem;
	display: flex;
	align-items: center;
	gap: 0.5rem;
	border-radius: 2rem;
	color: var(--light-color);
	background-color: var(--primary-color);
}
.secondary-btn {
	padding: 0.5rem 1rem;
	font-size: 1rem;
	display: flex;
	align-items: center;
	gap: 0.5rem;
	border-radius: 2rem;
	color: var(--primary-color);
	border: 2px solid var(--primary-color);
	background-color: transparent;
}
.tertiary-btn {
	padding: 0.5rem 1rem;
	font-size: 1rem;
	display: flex;
	align-items: center;
	gap: 0.5rem;
	border-radius: 2rem;
	color: var(--primary-color);
	background-color: transparent;
}
.ql-code-block-container {
	background-color: #505050;
	padding: 1rem;
	border-radius: 0.5rem;
	color: var(--light-color);
	position: relative;
	width: 100%;
}
.ql-code-block {
	font-family: "Courier New", Courier, monospace;
}

.ql-code-block-container select {
	padding: 0.2rem;
	outline: none;
	border: none;
	border-radius: 0.5rem;
	background-color: var(--primary-color);
	color: var(--light-color);
	font-size: 1rem;
	appearance: none;
	text-align: center;
	position: absolute;
	top: 0.5rem;
	right: 0.5rem;
}
.ql-code-block-container select option {
	background-color: var(--dark-color);
	color: var(--light-color);
}
.ql-code-block-container select option:hover {
	background-color: var(--primary-color) !important;
}

.ql-active {
	color: var(--primary-color);
}
.ql-blank {
	width: 100%;
	height: 100%;
}
.ql-editor blockquote {
	border-left: 5px solid var(--primary-color);
	background-color: #f5f5f5;
	font-size: 1.1rem;
	font-style: italic;
	padding: 0.2rem 1rem !important;
}
.preloader {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	z-index: 1000;
	gap: 3rem;
	background-color: var(--light-color);
}
/* HTML: <div class="loader"></div> */
.loader {
	height: 4px;
	width: 130px;
	--c: no-repeat linear-gradient(var(--primary-color) 0 0);
	background: var(--c), var(--c), #dbdbdb;
	background-size: 60% 100%;
	animation: l16 3s infinite;
}
@keyframes l16 {
	0% {
		background-position: -150% 0, -150% 0;
	}
	66% {
		background-position: 250% 0, -150% 0;
	}
	100% {
		background-position: 250% 0, 250% 0;
	}
}

.preloader img {
	width: 50px;
}
main {
	margin: 0 0 0 11vw;
	transition: all 0.2s ease-in-out;
}
header {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	align-items: start;
	height: 100%;
	width: 11dvw;
	overflow: hidden;
	position: fixed;
	padding: 0;
	z-index: 100;
	transition: all 0.2s ease-in-out;
	color: var(--dark-color);
	border-right: 1px solid #e0e0e0;
	cursor: pointer;
}

.logo-name {
	font-size: 0.9rem;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	gap: 1rem;
	letter-spacing: 3px;
	padding: 1rem 0.7rem;
	border-bottom: 1px solid #e0e0e0;
	height: 5dvh;
}
.logo-name img {
	width: 1.7rem;
	object-fit: contain;
}

.side-navigation {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2rem;
	width: 100%;
}

.side-nav {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	width: 100%;
	flex-wrap: nowrap;
	overflow: hidden;
}
.side-nav li {
	list-style: none;
	width: 100%;
	display: flex;
	align-items: center;
}

.side-nav li a {
	text-decoration: none;
	font-size: 0.8rem;
	letter-spacing: 2px;
	display: flex;
	align-items: center;
	gap: 1.5rem;
	padding: 0.8rem 1rem;
	width: 100%;
	position: relative;
	color: var(--dark-color);
	transition: all 0.2s ease-in-out;
}

.side-nav li a:hover {
	background-color: #e6e6e6;
	color: var(--tertiary-color);
}

.side-nav li a i {
	font-size: 1rem;
	margin: auto;
}
.side-nav li a p {
	width: 100%;
	text-align: start;
}

.side-nav li a.active {
	background-color: #cacaca;
	color: var(--tertiary-color);
	width: 100%;
	font-weight: 600;
}
.side-nav li a.active::after {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 5px;
	background-color: var(--primary-color);
}

.top-nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 1rem;
	gap: 1rem;
	width: 100%;
	height: 5dvh;
	color: var(--dark-color);
	position: sticky;
	top: 0;
	background-color: var(--light-color);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	z-index: 100;

	.user-profile {
		display: flex;
		align-items: center;
		gap: 1rem;

		.user-name-role {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
		}
		.user-role {
			font-size: 0.65rem;
			color: #616161;
			letter-spacing: 1.5px;
		}
		.user-name {
			font-size: 1rem;
			font-weight: 600;
		}
	}
	.user-profile img {
		width: 2rem;
		border-radius: 50%;
	}
}
#collapseSidenav {
	color: var(--dark-color);
	padding: 0.5rem;
	background-color: transparent;
}
.main-content {
	padding: 2rem;
	width: 100%;
	height: 100%;
	position: relative;
}
.search-bar {
	height: max-content;
	overflow: hidden;
	border-radius: 2rem;
	width: 50%;
	display: flex;
	align-items: center;
	gap: 1rem;
	padding: 0 1rem;
}
.search-bar input {
	border: none;
	outline: none;
	padding: 0.5rem 1rem;
	width: 100%;
	background-color: transparent;
	color: var(--primary-color);
	font-size: 1rem;
}
.search-bar input::placeholder {
	color: #a0a0a0;
}
.search-bar i {
	color: #a0a0a0;
}
.collapse-name {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	width: 15%;
}
#editor {
	min-height: 15dvh;
	max-height: max-content;
	font-size: large;
	pointer-events: all;
	overflow: hidden;
	border-bottom: 1px solid #e0e0e0;
}

#toolbar {
	position: sticky;
	top: 60px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 0.7rem;
	padding: 0.5rem 1rem;
	background-color: var(--light-color);
	width: 100%;
	border-radius: 2rem;
	color: #cacaca;
	z-index: 100;
}
#toolbar button {
	padding: 0.5rem 1rem;
	font-size: 0.95rem;
	gap: 0.5rem;
	background: transparent;
}
#toolbar button:hover {
	color: var(--primary-color);
}

.main-content form {
	width: 70%;
	height: 100%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	gap: 25px;
	border-radius: 1rem;
	padding: 2rem;
	margin: auto;
}
.input-field {
	width: 100%;
	border: none;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 10px;
	position: relative;
	border-radius: 1rem;
	padding: 5px;
}
.input-field .placeholder {
	position: absolute;
	vertical-align: middle;
	left: 15px;
	pointer-events: none;
	color: #808080;
	transition: all 0.5s ease-in-out;
	padding: 0 5px;
	font-size: 2rem;
}

#postTitle {
	width: 100%;
	padding: 10px 10px;
	border: none;
	outline: none;
	resize: none;
	height: 100%;
	background: transparent;
	font-size: 2.25rem;
	font-weight: 800;
}
#postTitle::placeholder {
	font-size: 2rem;
	color: #b3b3b3;
	font-weight: 800;
	letter-spacing: 2.25px;
}
#postTitle input {
	font-size: 2rem;
	color: #b3b3b3;
	font-weight: 800;
	letter-spacing: 2.25px;
	border: none;
	outline: none;
}
.add-cover {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column-reverse;
	gap: 2rem;
	padding: 10px;
	background-color: #f5f5f5;
	border-radius: calc(1rem + 10px);
	position: relative;
	height: 70vh;
	border: 1px solid var(--primary-color);
}
.cover-upload-btn {
	display: flex;
	align-items: center;
	gap: 1rem;
}
#removeCover {
	display: none;
}

.cover-img-show-btns {
	position: absolute;
	top: 2rem;
	right: 2rem;
}

.cover-img-show-btns button {
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	background-color: #757575;
	color: rgb(255, 255, 255);
	border: none;
}

input[type="file"] {
	display: none;
}

.cover-img {
	width: 100%;
	height: 50vh;
	object-fit: cover;
	border-radius: 1rem;
	display: none;
}
.cover-details {
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 0.2rem;
	font-size: 1.1rem;
}
.cover-details i {
	font-size: 4rem;
	color: var(--primary-color);
}

.url-input {
	border: none;
	align-items: center;
	gap: 10px;
	position: absolute;
	border-radius: calc(2rem + 5px);
	padding: 1px 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	position: absolute;
	bottom: -4.5rem;
	width: 100%;
}
.url-input input {
	width: 100%;
	border: none;
	outline: none;
	padding: 10px;
	border-radius: 1rem;
	font-size: 1rem;
}
.url-input .max-width {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 10px;
}
.url-input button {
	background-color: var(--primary-color) !important;
	height: 100%;
}
.url-input button:hover {
	color: #ffffff !important;
}

.post-buttons {
	display: flex;
	align-items: center;
	gap: 1rem;
}
/* Popup Box */

.popup-box {
	position: fixed;
	top: 0;
	left: 0;
	margin: auto;
	border: none;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	border-radius: 0.5rem;
	width: 30%;
	height: 30%;
	opacity: 0;
}
.popup-box::backdrop {
	background-color: rgba(0, 0, 0, 0.5);
}
.popup-box .popup {
	position: relative;
	padding: 2rem;
	border-radius: 10px;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}
.popup-header {
	display: flex;
	align-items: center;
	gap: 1rem;
	flex-direction: column;
}
.fa-brake-warning {
	font-size: 3rem;
	color: var(--primary-color);
}
#closePopup {
	position: absolute;
	top: 0.2rem;
	right: 0.5rem;
	padding: 0.8rem;
	color: var(--dark-color);
	border: none;
	outline: none;
	border-radius: 50%;
	cursor: pointer;
	background: transparent;
	font-size: 1.3rem;
}
.popup-footer {
	display: flex;
	justify-content: flex-end;
	gap: 1rem;
	width: 100%;
}
